POSTGRES_DB=traffic_analyzer_db
POSTGRES_USER=user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5488

GRAFANA_DB=my_grafana_db
GRAFANA_DB_USER=my_grafana_user
GRAFANA_DB_PASSWORD=change_me
GRAFANA_DB_PORT=5499

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
GRAFANA_PORT=3111

APP_DB_HOST=localhost
APP_DB_PORT=5488

